In [1]:
import pandas as pd
import numpy as np
import time
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the main dataset

In [2]:
wagering_data = pd.read_excel("Raw Data/Wagering Data.xlsx", sheet_name = "Tabelle1")

In [3]:
display(wagering_data.head(60))
wagering_data.tail(60)

,Jurisdiction,Handle,Revenue,Hold,Taxes/Jurisdiction Revenue
0,Arizona,"$5,972,178,331","$478,920,227",8.0%,"$24,305,661"
1,Arkansas,"$235,846,025","$25,667,848",10.9%,"$3,504,223"
2,Colorado,"$9,144,348,841","$599,387,809",6.6%,"$29,134,877"
3,Connecticut,"$1,531,042,830","$130,539,140",8.5%,"$12,855,757"
4,Delaware,"$534,230,610","$80,745,049",15.1%,"$53,577,288"
5,Illinois,"$16,597,597,363","$1,261,861,306",7.6%,"$203,610,968"
6,Indiana,"$10,071,140,268","$830,351,639",8.2%,"$78,883,408"
7,Iowa,"$4,947,057,137","$319,600,659",6.5%,"$23,474,052"
8,Kansas,"$536,800,390","$10,737,110",2.0%,"$1,066,490"
9,Louisiana,"$2,118,561,639","$162,252,420",7.7%,"$30,673,123"
10,Maryland,"$499,065,609","$67,259,320",13.5%,"$6,129,757"
11,Michigan,"$8,415,938,361","$705,599,122",8.4%,"$24,419,981"
12,Mississippi,"$1,860,162,392","$213,668,015",11.5%,"$25,640,162"
13,Montana,"$103,846,416","$14,259,412",13.7%,$ –
14,Nevada,"$27,723,080,786","$1,585,277,000",5.72%,"$107,006,198"
15,New Hampshire,"$1,704,557,407","$120,936,626",7.1%,"$55,997,339"
16,New Jersey,"$32,672,114,792","$2,283,153,922",7.0%,"$288,665,486"
17,New Mexico,$ –,$ –,—,$ –
18,New York,"$15,019,150,749","$1,264,551,628",8.4%,"$623,071,992"
19,Oregon,"$983,793,124","$90,802,280",9.2%,$ –
20,Pennsylvania,"$18,137,307,269","$1,415,801,172",7.8%,"$346,690,811"
21,Rhode Island,"$1,292,624,406","$114,345,553",8.8%,"$58,316,232"
22,South Dakota,"$8,225,048","$898,864",10.9%,"$80,898"
23,Tennessee,"$6,452,847,015","$597,177,914",9.3%,"$103,394,927"
24,Virginia,"$7,114,851,026","$653,374,693",9.2%,"$57,296,239"
25,Washington DC,"$459,580,392","$58,174,233",12.7%,"$4,094,418"
26,West Virginia,"$1,747,474,211","$142,087,343",8.1%,"$14,208,734"
27,Wyoming,"$153,079,672","$15,518,616",10.1%,"$719,975"
28,Total,"$176,036,502,109","$13,242,948,920",7.5%,"$2,176,818,996"
29,New Jersey sports betting,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN
31,NJ sports betting is the biggest outside Nevad...,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN
33,NaN,Handle,Revenue,Hold,Taxes
34,June 2018,"$16,409,619","$3,458,668",21.1%,"$337,077"
35,July 2018,"$40,682,237","$3,845,880",9.5%,"$377,015"
36,2018-08-01 00:00:00,"$95,634,048","$9,198,272",9.6%,"$1,038,073"
37,2018-09-01 00:00:00,"$183,948,404","$23,775,366",12.9%,"$2,883,517"
38,October 2018,"$260,711,301","$11,686,119",4.5%,"$1,536,282"
39,2018-11-01 00:00:00,"$330,748,563","$21,243,865",6.4%,"$2,730,521"
40,December 2018,"$319,173,548","$20,814,222",6.5%,"$2,695,290"
41,January 2019,"$385,279,662","$18,777,582",4.9%,"$2,532,619"
42,February 2019,"$320,368,087","$12,732,740",4.0%,"$1,817,553"
43,March 2019,"$372,451,342","$31,669,387",8.5%,"$4,180,051"
44,2019-04-01 00:00:00,"$313,719,562","$21,215,747",6.8%,"$2,817,206"
45,May 2019,"$318,940,677","$15,536,384",4.9%,"$2,135,704"
46,June 2019,"$273,222,975","$9,701,925",3.6%,"$1,258,541"
47,July 2019,"$251,371,272","$17,884,790",7.1%,"$2,367,745"
48,2019-08-01 00:00:00,"$293,594,862","$25,210,342",8.6%,"$3,327,589"
49,2019-09-01 00:00:00,"$445,563,503","$37,883,375",8.5%,"$5,017,875"
50,October 2019,"$487,924,504","$46,393,537",9.5%,"$5,662,148"
51,2019-11-01 00:00:00,"$562,675,543","$32,895,546",5.9%,"$4,460,461"
52,December 2019,"$557,786,161","$29,424,884",5.3%,"$4,016,635"
53,January 2020,"$540,113,452","$53,561,626",9.9%,"$7,328,175"
54,February 2020,"$494,813,807","$17,000,928",3.4%,"$2,377,923"
55,March 2020,"$181,908,529","$13,181,101",7.2%,"$1,732,276"
56,2020-04-01 00:00:00,"$54,593,092","$2,634,050",4.8%,"$356,726"
57,May 2020,"$117,821,281","$9,912,062",8.4%,"$1,303,244"
58,June 2020,"$165,014,553","$12,639,282",7.7%,"$1,652,950"
59,July 2020,"$315,118,805","$29,551,987",9.4%,"$3,671,891"

,Jurisdiction,Handle,Revenue,Hold,Taxes/Jurisdiction Revenue
1146,2022-08-01 00:00:00,"$128,251,857","$9,460,039",7.4%,"$1,774,343"
1147,2022-09-01 00:00:00,"$207,501,595","$31,894,674",15.4%,"$3,870,435"
1148,October 2022,"$255,528,321","$30,243,842",11.8%,"$4,305,414"
1149,2022-11-01 00:00:00,"$268,638,967","($25,622,399)",-9.5%,"$4,244,196"
1150,Total,"$2,118,561,639","$162,252,420",7.7%,"$30,673,123"
1151,NaN,NaN,NaN,NaN,NaN
1152,Louisiana revenue here.,NaN,NaN,NaN,NaN
1153,NaN,NaN,NaN,NaN,NaN
1154,Arizona sports betting,NaN,NaN,NaN,NaN
1155,NaN,NaN,NaN,NaN,NaN
1156,Legal sports betting launched Sept. 9 with bot...,NaN,NaN,NaN,NaN
1157,NaN,NaN,NaN,NaN,NaN
1158,NaN,Handle,Revenue,Hold,Taxes
1159,2021-09-01 00:00:00,"$291,212,868","$31,238,322",10.7%,"$31,393.43"
1160,October 2021,"$486,097,352","$36,326,542",7.5%,"$1,022,841.29"
1161,2021-11-01 00:00:00,"$466,725,687","$51,416,143",11.0%,"$3,177,148"
1162,December 2021,"$499,213,733","$39,822,928",8.0%,"$1,723,902"
1163,January 2022,"$563,694,591","$41,890,200",7.4%,"$1,952,971"
1164,February 2022,"$491,665,554","$25,629,835",5.2%,"$670,686"
1165,March 2022,"$690,979,294","$37,231,646",5.4%,"$1,864,457"
1166,2022-04-01 00:00:00,"$512,877,848","$29,249,275",5.7%,"$1,647,450"
1167,May 2022,"$461,450,688","$55,162,888",12.0%,"$4,125,125"
1168,June 2022,"$318,774,198","$15,369,245",4.8%,"$766,831"
1169,July 2022,"$290,511,533","$21,992,628",7.6%,"$1,496,427"
1170,2022-08-01 00:00:00,"$361,008,835","$37,161,759",10.3%,"$2,767,590"
1171,2022-09-01 00:00:00,"$537,966,149","$56,428,816",10.5%,"$3,058,838"
1172,Total,"$5,972,178,331","$478,920,227",8.0%,"$24,305,661"
1173,NaN,NaN,NaN,NaN,NaN
1174,Arizona revenue here.,NaN,NaN,NaN,NaN
1175,NaN,NaN,NaN,NaN,NaN
1176,Maryland sports betting,NaN,NaN,NaN,NaN
1177,NaN,NaN,NaN,NaN,NaN
1178,Legal sports betting in Maryland launched Dec ...,NaN,NaN,NaN,NaN
1179,NaN,NaN,NaN,NaN,NaN
1180,NaN,Handle,Revenue,Hold,Tax
1181,December 2021,"$16,552,430","$3,170,000",19.2%,"$469,297"
1182,January 2022,"$32,580,831","$4,375,316",13.4%,"$644,098"
1183,February 2022,"$25,526,148","$955,377",3.7%,"$134,628"
1184,March 2022,"$32,025,892","$3,927,573",12.7%,"$577,019"
1185,2022-04-01 00:00:00,"$26,908,845","$2,838,501",10.5%,"$415,801"
1186,May 2022,"$23,095,542","$3,077,031",13.3%,"$452,897"
1187,June 2022,"$19,121,331","$1,309,834",6.9%,"$189,323"
1188,July 2022,"$15,492,757","$2,026,548",13.1%,"$298,177"
1189,2022-08-01 00:00:00,"$18,650,802","$3,185,601",17.1%,"$477,840"
1190,2022-09-01 00:00:00,"$31,376,072","$6,562,053",20.9%,"$984,308"
1191,October 2022,"$39,663,586","$5,210,947",13.1%,"$781,642"
1192,2022-11-01 00:00:00,"$219,071,374","$30,620,539",14.0%,"$704,728"
1193,Total,"$499,065,609","$67,259,320",13.5%,"$6,129,757"
1194,NaN,NaN,NaN,NaN,NaN
1195,Maryland revenue here.,NaN,NaN,NaN,NaN
1196,NaN,NaN,NaN,NaN,NaN
1197,Kansas sports betting,NaN,NaN,NaN,NaN
1198,NaN,NaN,NaN,NaN,NaN
1199,Sports betting in Kansas went live in Septembe...,NaN,NaN,NaN,NaN
1200,NaN,NaN,NaN,NaN,NaN
1201,NaN,Handle,Revenue,Hold,Taxes
1202,2022-09-01 00:00:00,"$160,527,371","$1,296,184",0.8%,"$129,618"
1203,October 2022,"$189,919,311","$1,438,196",0.8%,"$141,088"
1204,2022-11-01 00:00:00,"$186,353,708","$8,002,730",4.3%,"$795,784"
1205,Total,"$536,800,390","$10,737,110",2.0%,"$1,066,490"

# Formatting the dataframe

### Seperating the summary from the rest of the data

The first 28 lines are a summary for 2021. We save it seperately in case we want to use it later.

In [4]:
df_summary_21 = wagering_data.iloc[0:29]
df_summary_21.head(3)

  Jurisdiction          Handle       Revenue   Hold Taxes/Jurisdiction Revenue
0      Arizona  $5,972,178,331  $478,920,227   8.0%                $24,305,661
1     Arkansas    $235,846,025   $25,667,848  10.9%                 $3,504,223
2     Colorado  $9,144,348,841  $599,387,809   6.6%                $29,134,877

Now we can delete this part from our dataframe.

In [5]:
wagering_data.shape

(1206, 5)

In [6]:
wagering_data2 = wagering_data.iloc[29:]
wagering_data2.head(20)

,Jurisdiction,Handle,Revenue,Hold,Taxes/Jurisdiction Revenue
29,New Jersey sports betting,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN
31,NJ sports betting is the biggest outside Nevad...,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN
33,NaN,Handle,Revenue,Hold,Taxes
34,June 2018,"$16,409,619","$3,458,668",21.1%,"$337,077"
35,July 2018,"$40,682,237","$3,845,880",9.5%,"$377,015"
36,2018-08-01 00:00:00,"$95,634,048","$9,198,272",9.6%,"$1,038,073"
37,2018-09-01 00:00:00,"$183,948,404","$23,775,366",12.9%,"$2,883,517"
38,October 2018,"$260,711,301","$11,686,119",4.5%,"$1,536,282"
39,2018-11-01 00:00:00,"$330,748,563","$21,243,865",6.4%,"$2,730,521"
40,December 2018,"$319,173,548","$20,814,222",6.5%,"$2,695,290"
41,January 2019,"$385,279,662","$18,777,582",4.9%,"$2,532,619"
42,February 2019,"$320,368,087","$12,732,740",4.0%,"$1,817,553"
43,March 2019,"$372,451,342","$31,669,387",8.5%,"$4,180,051"
44,2019-04-01 00:00:00,"$313,719,562","$21,215,747",6.8%,"$2,817,206"
45,May 2019,"$318,940,677","$15,536,384",4.9%,"$2,135,704"
46,June 2019,"$273,222,975","$9,701,925",3.6%,"$1,258,541"
47,July 2019,"$251,371,272","$17,884,790",7.1%,"$2,367,745"
48,2019-08-01 00:00:00,"$293,594,862","$25,210,342",8.6%,"$3,327,589"

### Converting the column names

As we can see, the column names were applied to the summary we seperated, the column "Jurisdiction"
is actually the date column. We change it accordingly and format the names to snakecase.

In [7]:
# Rename Jurisdiction
wagering_data2 = wagering_data2.rename(columns={'Jurisdiction':'date'})

In [8]:
# Snake case
cols = []
for column in wagering_data2.columns:
    cols.append(column.lower())
wagering_data2.columns = cols
cols = []
for column in wagering_data2.columns:
    cols.append(column.replace(' ','_'))
wagering_data2.columns = cols

### Bringing the dataset into one fromat

In [9]:
# Inspecting the first column
wagering_data2.date.value_counts(dropna = False)

NaN                                                                                                                                                                                                                                     150
Total                                                                                                                                                                                                                                    28
2022-09-01 00:00:00                                                                                                                                                                                                                      28
January 2022                                                                                                                                                                                                                             27
2022-08-01 00:00:00                                                                                                                                                                                                                      27
                                                                                                                                                                                                                                       ...
West Virginia reports results on a weekly basis, so results for some months may include days from other months. Visit the West Virginia Lottery’s website for a breakdown of specific reporting dates.                                    1
Sportsbook apps returned in August 2020.                                                                                                                                                                                                  1
The state has legalized online betting, too, but there were problems at first. Delaware North, the only live operator, had to shut down. So too did two retail sportsbooks, leaving just three places to bet on sports in the state.      1
WV sports betting went live in 2018, thanks to a law passed even before the federal ban was struck down.                                                                                                                                  1
Sports betting in Kansas went live in September 2022 with retail and mobile sportsbooks.                                                                                                                                                  1
Name: date, Length: 160, dtype: int64

As this data is a copy from a html site, the formatting is nowhere near a standardized dataframe.
First we will get rid of all the empty rows.
We do this by deleting all rows where the first column is empty.
With this step we also get rid of the duplicated column descriptions.

We can do this safely, because if there is data without a date attached we could not use it for the analysis either way.

In [10]:
wagering_data3 = wagering_data2[~wagering_data2['date'].isna()]
wagering_data3.shape

(1027, 5)

In [11]:
display(wagering_data3.head(60))
display(wagering_data3.tail(60))

,date,handle,revenue,hold,taxes/jurisdiction_revenue
29,New Jersey sports betting,NaN,NaN,NaN,NaN
31,NJ sports betting is the biggest outside Nevad...,NaN,NaN,NaN,NaN
34,June 2018,"$16,409,619","$3,458,668",21.1%,"$337,077"
35,July 2018,"$40,682,237","$3,845,880",9.5%,"$377,015"
36,2018-08-01 00:00:00,"$95,634,048","$9,198,272",9.6%,"$1,038,073"
37,2018-09-01 00:00:00,"$183,948,404","$23,775,366",12.9%,"$2,883,517"
38,October 2018,"$260,711,301","$11,686,119",4.5%,"$1,536,282"
39,2018-11-01 00:00:00,"$330,748,563","$21,243,865",6.4%,"$2,730,521"
40,December 2018,"$319,173,548","$20,814,222",6.5%,"$2,695,290"
41,January 2019,"$385,279,662","$18,777,582",4.9%,"$2,532,619"
42,February 2019,"$320,368,087","$12,732,740",4.0%,"$1,817,553"
43,March 2019,"$372,451,342","$31,669,387",8.5%,"$4,180,051"
44,2019-04-01 00:00:00,"$313,719,562","$21,215,747",6.8%,"$2,817,206"
45,May 2019,"$318,940,677","$15,536,384",4.9%,"$2,135,704"
46,June 2019,"$273,222,975","$9,701,925",3.6%,"$1,258,541"
47,July 2019,"$251,371,272","$17,884,790",7.1%,"$2,367,745"
48,2019-08-01 00:00:00,"$293,594,862","$25,210,342",8.6%,"$3,327,589"
49,2019-09-01 00:00:00,"$445,563,503","$37,883,375",8.5%,"$5,017,875"
50,October 2019,"$487,924,504","$46,393,537",9.5%,"$5,662,148"
51,2019-11-01 00:00:00,"$562,675,543","$32,895,546",5.9%,"$4,460,461"
52,December 2019,"$557,786,161","$29,424,884",5.3%,"$4,016,635"
53,January 2020,"$540,113,452","$53,561,626",9.9%,"$7,328,175"
54,February 2020,"$494,813,807","$17,000,928",3.4%,"$2,377,923"
55,March 2020,"$181,908,529","$13,181,101",7.2%,"$1,732,276"
56,2020-04-01 00:00:00,"$54,593,092","$2,634,050",4.8%,"$356,726"
57,May 2020,"$117,821,281","$9,912,062",8.4%,"$1,303,244"
58,June 2020,"$165,014,553","$12,639,282",7.7%,"$1,652,950"
59,July 2020,"$315,118,805","$29,551,987",9.4%,"$3,671,891"
60,2020-08-01 00:00:00,"$667,979,150","$39,507,181",5.9%,"$4,919,340"
61,2020-09-01 00:00:00,"$748,588,349","$45,083,178",6.0%,"$5,604,501"
62,October 2020,"$803,096,172","$58,508,647",7.3%,"$7,440,873"
63,2020-11-01 00:00:00,"$931,620,415","$50,554,535",5.4%,"$6,233,822"
64,December 2020,"$996,300,794","$66,386,516",6.7%,"$8,269,676"
65,January 2021,"$958,717,526","$82,640,979",8.6%,"$10,362,389"
66,February 2021,"$742,953,328","$46,213,864",6.2%,"$5,800,343"
67,March 2021,"$859,617,961","$60,755,472",7.1%,"$7,746,512"
68,2021-04-01 00:00:00,"$747,986,522","$54,839,217",7.3%,"$6,789,849"
69,May 2021,"$814,270,654","$52,895,430",6.5%,"$6,775,113"
70,June 2021,"$766,888,420","$71,267,544",9.3%,"$8,732,765"
71,July 2021,"$578,729,290","$54,966,257",9.5%,"$4,331,299"
72,2021-08-01 00:00:00,"$664,675,859","$52,023,081",7.8%,"$6,678,542"
73,2021-09-01 00:00:00,"$1,011,114,311","$82,440,420",8.2%,"$10,172,247"
74,October 2021,"$1,303,198,342","$84,152,035",6.5%,"$10,583,756"
75,2021-11-01 00:00:00,"$1,258,189,436","$114,788,726",9.1%,"$14,595,181"
76,December 2021,"$1,229,561,891","$59,047,673",4.8%,"$7,482,614"
77,January 2022,"$1,348,860,083","$60,195,902",4.5%,"$8,019,106"
78,February 2022,"$985,568,313","$30,873,369",3.1%,"$4,292,710"
79,March 2022,"$1,120,904,954","$66,404,370",5.9%,"$8,238,237"
80,2022-04-01 00:00:00,"$926,946,780","$50,345,808",5.4%,"$6,425,923"
81,May 2022,"$766,412,352","$61,594,016",8.0%,"$7,998,017"
82,June 2022,"$633,184,861","$39,245,213",6.2%,"$4,913,338"
83,July 2022,"$531,888,333","$45,007,343",8.5%,"$5,824,135"
84,2022-08-01 00:00:00,"$546,774,394","$65,272,385",11.9%,"$8,322,147"
85,2022-09-01 00:00:00,"$866,719,412","$97,981,122",11.3%,"$12,126,902"
86,October 2022,"$1,060,154,535","$77,907,041",7.3%,"$9,879,163"
87,2022-11-01 00:00:00,"$1,101,622,966","$80,426,931",7.3%,"$10,491,899"
88,Total,"$32,672,114,792","$2,283,153,922",7.0%,"$288,665,486"
90,NJ revenue here.,NaN,NaN,NaN,NaN
92,Pennsylvania sports betting,NaN,NaN,NaN,NaN
94,PA sports betting is poised to become one of t...,NaN,NaN,NaN,NaN

,date,handle,revenue,hold,taxes/jurisdiction_revenue
1126,2022-09-01 00:00:00,"$130,547,719","$16,676,506",12.8%,"$1,777,391"
1127,October 2022,"$164,170,106","$15,499,673",9.4%,"$1,736,473"
1128,Total,"$1,531,042,830","$130,539,140",8.5%,"$12,855,757"
1130,Connecticut revenue here.,NaN,NaN,NaN,NaN
1132,Louisiana sports betting,NaN,NaN,NaN,NaN
1134,Legal sports betting at commercial casinos beg...,NaN,NaN,NaN,NaN
1137,2021-11-01 00:00:00,"$27,871,038","$5,685,706",20.4%,"$568,571"
1138,December 2021,"$39,517,545","$4,380,700",11.1%,"$438,070"
1139,January 2022,"$89,757,060","($3,703,347)",-4.1%,"$533,259"
1140,February 2022,"$238,413,596","$17,294,691",7.3%,"$2,354,846"
1141,March 2022,"$232,730,341","$30,140,818",13.0%,"$3,413,595"
1142,2022-04-01 00:00:00,"$208,255,060","$5,607,428",2.7%,"$2,573,658"
1143,May 2022,"$171,135,819","$25,327,007",14.8%,"$2,725,138"
1144,June 2022,"$132,438,215","$10,694,279",8.1%,"$1,424,413"
1145,July 2022,"$118,522,225","$20,848,982",17.6%,"$2,447,185"
1146,2022-08-01 00:00:00,"$128,251,857","$9,460,039",7.4%,"$1,774,343"
1147,2022-09-01 00:00:00,"$207,501,595","$31,894,674",15.4%,"$3,870,435"
1148,October 2022,"$255,528,321","$30,243,842",11.8%,"$4,305,414"
1149,2022-11-01 00:00:00,"$268,638,967","($25,622,399)",-9.5%,"$4,244,196"
1150,Total,"$2,118,561,639","$162,252,420",7.7%,"$30,673,123"
1152,Louisiana revenue here.,NaN,NaN,NaN,NaN
1154,Arizona sports betting,NaN,NaN,NaN,NaN
1156,Legal sports betting launched Sept. 9 with bot...,NaN,NaN,NaN,NaN
1159,2021-09-01 00:00:00,"$291,212,868","$31,238,322",10.7%,"$31,393.43"
1160,October 2021,"$486,097,352","$36,326,542",7.5%,"$1,022,841.29"
1161,2021-11-01 00:00:00,"$466,725,687","$51,416,143",11.0%,"$3,177,148"
1162,December 2021,"$499,213,733","$39,822,928",8.0%,"$1,723,902"
1163,January 2022,"$563,694,591","$41,890,200",7.4%,"$1,952,971"
1164,February 2022,"$491,665,554","$25,629,835",5.2%,"$670,686"
1165,March 2022,"$690,979,294","$37,231,646",5.4%,"$1,864,457"
1166,2022-04-01 00:00:00,"$512,877,848","$29,249,275",5.7%,"$1,647,450"
1167,May 2022,"$461,450,688","$55,162,888",12.0%,"$4,125,125"
1168,June 2022,"$318,774,198","$15,369,245",4.8%,"$766,831"
1169,July 2022,"$290,511,533","$21,992,628",7.6%,"$1,496,427"
1170,2022-08-01 00:00:00,"$361,008,835","$37,161,759",10.3%,"$2,767,590"
1171,2022-09-01 00:00:00,"$537,966,149","$56,428,816",10.5%,"$3,058,838"
1172,Total,"$5,972,178,331","$478,920,227",8.0%,"$24,305,661"
1174,Arizona revenue here.,NaN,NaN,NaN,NaN
1176,Maryland sports betting,NaN,NaN,NaN,NaN
1178,Legal sports betting in Maryland launched Dec ...,NaN,NaN,NaN,NaN
1181,December 2021,"$16,552,430","$3,170,000",19.2%,"$469,297"
1182,January 2022,"$32,580,831","$4,375,316",13.4%,"$644,098"
1183,February 2022,"$25,526,148","$955,377",3.7%,"$134,628"
1184,March 2022,"$32,025,892","$3,927,573",12.7%,"$577,019"
1185,2022-04-01 00:00:00,"$26,908,845","$2,838,501",10.5%,"$415,801"
1186,May 2022,"$23,095,542","$3,077,031",13.3%,"$452,897"
1187,June 2022,"$19,121,331","$1,309,834",6.9%,"$189,323"
1188,July 2022,"$15,492,757","$2,026,548",13.1%,"$298,177"
1189,2022-08-01 00:00:00,"$18,650,802","$3,185,601",17.1%,"$477,840"
1190,2022-09-01 00:00:00,"$31,376,072","$6,562,053",20.9%,"$984,308"
1191,October 2022,"$39,663,586","$5,210,947",13.1%,"$781,642"
1192,2022-11-01 00:00:00,"$219,071,374","$30,620,539",14.0%,"$704,728"
1193,Total,"$499,065,609","$67,259,320",13.5%,"$6,129,757"
1195,Maryland revenue here.,NaN,NaN,NaN,NaN
1197,Kansas sports betting,NaN,NaN,NaN,NaN
1199,Sports betting in Kansas went live in Septembe...,NaN,NaN,NaN,NaN
1202,2022-09-01 00:00:00,"$160,527,371","$1,296,184",0.8%,"$129,618"
1203,October 2022,"$189,919,311","$1,438,196",0.8%,"$141,088"
1204,2022-11-01 00:00:00,"$186,353,708","$8,002,730",4.3%,"$795,784"
1205,Total,"$536,800,390","$10,737,110",2.0%,"$1,066,490"

### Creating a state column

There is no column that indicates the state, we can see, that the state is mentioned as the first word in a text in the date column, followed by additional text and then a variing number of rows of actual data.

We can see the following pattern.
The string that contains the state name for the following rows is always in the following format:
"'State name' sports betting."

So, what we will do is create a new column named state and insert the part of the string before sports betting for the following rows until we find the next one that matches the pattern.

In [12]:
# Creating the new column:
wagering_data4 = wagering_data3[['date', 'handle', 'revenue', 'hold', 'taxes/jurisdiction_revenue']]
wagering_data4['state'] = ""
wagering_data4.head(5)

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
29,New Jersey sports betting,NaN,NaN,NaN,NaN,
31,NJ sports betting is the biggest outside Nevad...,NaN,NaN,NaN,NaN,
34,June 2018,"$16,409,619","$3,458,668",21.1%,"$337,077",
35,July 2018,"$40,682,237","$3,845,880",9.5%,"$377,015",
36,2018-08-01 00:00:00,"$95,634,048","$9,198,272",9.6%,"$1,038,073",

In [13]:
import re

In [14]:
# Testing the regex to see if we find the desired pattern

for row in wagering_data4.index:
        if re.match('.* (sports betting)$', str(wagering_data4.date[row])):
            print(wagering_data4.date[row].replace(" sports betting", ""))

New Jersey
Pennsylvania
Delaware
Mississippi
Nevada
Rhode Island
West Virginia
Arkansas
New York
Iowa
Indiana
Oregon
New Hampshire
Michigan
Montana
Colorado
Washington DC
Illinois
Tennessee
Virginia
Wyoming
South Dakota
Connecticut
Louisiana
Arizona
Maryland
Kansas

In [15]:
# Inserting the state into the according column
current_state = ""
for row in wagering_data4.index:
    if re.match('.* (sports betting)$', str(wagering_data4.date[row])):
        current_state = wagering_data4.date[row].replace(" sports betting", "")
    wagering_data4.state[row] = current_state

In [16]:
display(wagering_data4.head(60))
display(wagering_data4.tail(60))

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
29,New Jersey sports betting,NaN,NaN,NaN,NaN,New Jersey
31,NJ sports betting is the biggest outside Nevad...,NaN,NaN,NaN,NaN,New Jersey
34,June 2018,"$16,409,619","$3,458,668",21.1%,"$337,077",New Jersey
35,July 2018,"$40,682,237","$3,845,880",9.5%,"$377,015",New Jersey
36,2018-08-01 00:00:00,"$95,634,048","$9,198,272",9.6%,"$1,038,073",New Jersey
37,2018-09-01 00:00:00,"$183,948,404","$23,775,366",12.9%,"$2,883,517",New Jersey
38,October 2018,"$260,711,301","$11,686,119",4.5%,"$1,536,282",New Jersey
39,2018-11-01 00:00:00,"$330,748,563","$21,243,865",6.4%,"$2,730,521",New Jersey
40,December 2018,"$319,173,548","$20,814,222",6.5%,"$2,695,290",New Jersey
41,January 2019,"$385,279,662","$18,777,582",4.9%,"$2,532,619",New Jersey
42,February 2019,"$320,368,087","$12,732,740",4.0%,"$1,817,553",New Jersey
43,March 2019,"$372,451,342","$31,669,387",8.5%,"$4,180,051",New Jersey
44,2019-04-01 00:00:00,"$313,719,562","$21,215,747",6.8%,"$2,817,206",New Jersey
45,May 2019,"$318,940,677","$15,536,384",4.9%,"$2,135,704",New Jersey
46,June 2019,"$273,222,975","$9,701,925",3.6%,"$1,258,541",New Jersey
47,July 2019,"$251,371,272","$17,884,790",7.1%,"$2,367,745",New Jersey
48,2019-08-01 00:00:00,"$293,594,862","$25,210,342",8.6%,"$3,327,589",New Jersey
49,2019-09-01 00:00:00,"$445,563,503","$37,883,375",8.5%,"$5,017,875",New Jersey
50,October 2019,"$487,924,504","$46,393,537",9.5%,"$5,662,148",New Jersey
51,2019-11-01 00:00:00,"$562,675,543","$32,895,546",5.9%,"$4,460,461",New Jersey
52,December 2019,"$557,786,161","$29,424,884",5.3%,"$4,016,635",New Jersey
53,January 2020,"$540,113,452","$53,561,626",9.9%,"$7,328,175",New Jersey
54,February 2020,"$494,813,807","$17,000,928",3.4%,"$2,377,923",New Jersey
55,March 2020,"$181,908,529","$13,181,101",7.2%,"$1,732,276",New Jersey
56,2020-04-01 00:00:00,"$54,593,092","$2,634,050",4.8%,"$356,726",New Jersey
57,May 2020,"$117,821,281","$9,912,062",8.4%,"$1,303,244",New Jersey
58,June 2020,"$165,014,553","$12,639,282",7.7%,"$1,652,950",New Jersey
59,July 2020,"$315,118,805","$29,551,987",9.4%,"$3,671,891",New Jersey
60,2020-08-01 00:00:00,"$667,979,150","$39,507,181",5.9%,"$4,919,340",New Jersey
61,2020-09-01 00:00:00,"$748,588,349","$45,083,178",6.0%,"$5,604,501",New Jersey
62,October 2020,"$803,096,172","$58,508,647",7.3%,"$7,440,873",New Jersey
63,2020-11-01 00:00:00,"$931,620,415","$50,554,535",5.4%,"$6,233,822",New Jersey
64,December 2020,"$996,300,794","$66,386,516",6.7%,"$8,269,676",New Jersey
65,January 2021,"$958,717,526","$82,640,979",8.6%,"$10,362,389",New Jersey
66,February 2021,"$742,953,328","$46,213,864",6.2%,"$5,800,343",New Jersey
67,March 2021,"$859,617,961","$60,755,472",7.1%,"$7,746,512",New Jersey
68,2021-04-01 00:00:00,"$747,986,522","$54,839,217",7.3%,"$6,789,849",New Jersey
69,May 2021,"$814,270,654","$52,895,430",6.5%,"$6,775,113",New Jersey
70,June 2021,"$766,888,420","$71,267,544",9.3%,"$8,732,765",New Jersey
71,July 2021,"$578,729,290","$54,966,257",9.5%,"$4,331,299",New Jersey
72,2021-08-01 00:00:00,"$664,675,859","$52,023,081",7.8%,"$6,678,542",New Jersey
73,2021-09-01 00:00:00,"$1,011,114,311","$82,440,420",8.2%,"$10,172,247",New Jersey
74,October 2021,"$1,303,198,342","$84,152,035",6.5%,"$10,583,756",New Jersey
75,2021-11-01 00:00:00,"$1,258,189,436","$114,788,726",9.1%,"$14,595,181",New Jersey
76,December 2021,"$1,229,561,891","$59,047,673",4.8%,"$7,482,614",New Jersey
77,January 2022,"$1,348,860,083","$60,195,902",4.5%,"$8,019,106",New Jersey
78,February 2022,"$985,568,313","$30,873,369",3.1%,"$4,292,710",New Jersey
79,March 2022,"$1,120,904,954","$66,404,370",5.9%,"$8,238,237",New Jersey
80,2022-04-01 00:00:00,"$926,946,780","$50,345,808",5.4%,"$6,425,923",New Jersey
81,May 2022,"$766,412,352","$61,594,016",8.0%,"$7,998,017",New Jersey
82,June 2022,"$633,184,861","$39,245,213",6.2%,"$4,913,338",New Jersey
83,July 2022,"$531,888,333","$45,007,343",8.5%,"$5,824,135",New Jersey
84,2022-08-01 00:00:00,"$546,774,394","$65,272,385",11.9%,"$8,322,147",New Jersey
85,2022-09-01 00:00:00,"$866,719,412","$97,981,122",11.3%,"$12,126,902",New Jersey
86,October 2022,"$1,060,154,535","$77,907,041",7.3%,"$9,879,163",New Jersey
87,2022-11-01 00:00:00,"$1,101,622,966","$80,426,931",7.3%,"$10,491,899",New Jersey
88,Total,"$32,672,114,792","$2,283,153,922",7.0%,"$288,665,486",New Jersey
90,NJ revenue here.,NaN,NaN,NaN,NaN,New Jersey
92,Pennsylvania sports betting,NaN,NaN,NaN,NaN,Pennsylvania
94,PA sports betting is poised to become one of t...,NaN,NaN,NaN,NaN,Pennsylvania

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
1126,2022-09-01 00:00:00,"$130,547,719","$16,676,506",12.8%,"$1,777,391",Connecticut
1127,October 2022,"$164,170,106","$15,499,673",9.4%,"$1,736,473",Connecticut
1128,Total,"$1,531,042,830","$130,539,140",8.5%,"$12,855,757",Connecticut
1130,Connecticut revenue here.,NaN,NaN,NaN,NaN,Connecticut
1132,Louisiana sports betting,NaN,NaN,NaN,NaN,Louisiana
1134,Legal sports betting at commercial casinos beg...,NaN,NaN,NaN,NaN,Louisiana
1137,2021-11-01 00:00:00,"$27,871,038","$5,685,706",20.4%,"$568,571",Louisiana
1138,December 2021,"$39,517,545","$4,380,700",11.1%,"$438,070",Louisiana
1139,January 2022,"$89,757,060","($3,703,347)",-4.1%,"$533,259",Louisiana
1140,February 2022,"$238,413,596","$17,294,691",7.3%,"$2,354,846",Louisiana
1141,March 2022,"$232,730,341","$30,140,818",13.0%,"$3,413,595",Louisiana
1142,2022-04-01 00:00:00,"$208,255,060","$5,607,428",2.7%,"$2,573,658",Louisiana
1143,May 2022,"$171,135,819","$25,327,007",14.8%,"$2,725,138",Louisiana
1144,June 2022,"$132,438,215","$10,694,279",8.1%,"$1,424,413",Louisiana
1145,July 2022,"$118,522,225","$20,848,982",17.6%,"$2,447,185",Louisiana
1146,2022-08-01 00:00:00,"$128,251,857","$9,460,039",7.4%,"$1,774,343",Louisiana
1147,2022-09-01 00:00:00,"$207,501,595","$31,894,674",15.4%,"$3,870,435",Louisiana
1148,October 2022,"$255,528,321","$30,243,842",11.8%,"$4,305,414",Louisiana
1149,2022-11-01 00:00:00,"$268,638,967","($25,622,399)",-9.5%,"$4,244,196",Louisiana
1150,Total,"$2,118,561,639","$162,252,420",7.7%,"$30,673,123",Louisiana
1152,Louisiana revenue here.,NaN,NaN,NaN,NaN,Louisiana
1154,Arizona sports betting,NaN,NaN,NaN,NaN,Arizona
1156,Legal sports betting launched Sept. 9 with bot...,NaN,NaN,NaN,NaN,Arizona
1159,2021-09-01 00:00:00,"$291,212,868","$31,238,322",10.7%,"$31,393.43",Arizona
1160,October 2021,"$486,097,352","$36,326,542",7.5%,"$1,022,841.29",Arizona
1161,2021-11-01 00:00:00,"$466,725,687","$51,416,143",11.0%,"$3,177,148",Arizona
1162,December 2021,"$499,213,733","$39,822,928",8.0%,"$1,723,902",Arizona
1163,January 2022,"$563,694,591","$41,890,200",7.4%,"$1,952,971",Arizona
1164,February 2022,"$491,665,554","$25,629,835",5.2%,"$670,686",Arizona
1165,March 2022,"$690,979,294","$37,231,646",5.4%,"$1,864,457",Arizona
1166,2022-04-01 00:00:00,"$512,877,848","$29,249,275",5.7%,"$1,647,450",Arizona
1167,May 2022,"$461,450,688","$55,162,888",12.0%,"$4,125,125",Arizona
1168,June 2022,"$318,774,198","$15,369,245",4.8%,"$766,831",Arizona
1169,July 2022,"$290,511,533","$21,992,628",7.6%,"$1,496,427",Arizona
1170,2022-08-01 00:00:00,"$361,008,835","$37,161,759",10.3%,"$2,767,590",Arizona
1171,2022-09-01 00:00:00,"$537,966,149","$56,428,816",10.5%,"$3,058,838",Arizona
1172,Total,"$5,972,178,331","$478,920,227",8.0%,"$24,305,661",Arizona
1174,Arizona revenue here.,NaN,NaN,NaN,NaN,Arizona
1176,Maryland sports betting,NaN,NaN,NaN,NaN,Maryland
1178,Legal sports betting in Maryland launched Dec ...,NaN,NaN,NaN,NaN,Maryland
1181,December 2021,"$16,552,430","$3,170,000",19.2%,"$469,297",Maryland
1182,January 2022,"$32,580,831","$4,375,316",13.4%,"$644,098",Maryland
1183,February 2022,"$25,526,148","$955,377",3.7%,"$134,628",Maryland
1184,March 2022,"$32,025,892","$3,927,573",12.7%,"$577,019",Maryland
1185,2022-04-01 00:00:00,"$26,908,845","$2,838,501",10.5%,"$415,801",Maryland
1186,May 2022,"$23,095,542","$3,077,031",13.3%,"$452,897",Maryland
1187,June 2022,"$19,121,331","$1,309,834",6.9%,"$189,323",Maryland
1188,July 2022,"$15,492,757","$2,026,548",13.1%,"$298,177",Maryland
1189,2022-08-01 00:00:00,"$18,650,802","$3,185,601",17.1%,"$477,840",Maryland
1190,2022-09-01 00:00:00,"$31,376,072","$6,562,053",20.9%,"$984,308",Maryland
1191,October 2022,"$39,663,586","$5,210,947",13.1%,"$781,642",Maryland
1192,2022-11-01 00:00:00,"$219,071,374","$30,620,539",14.0%,"$704,728",Maryland
1193,Total,"$499,065,609","$67,259,320",13.5%,"$6,129,757",Maryland
1195,Maryland revenue here.,NaN,NaN,NaN,NaN,Maryland
1197,Kansas sports betting,NaN,NaN,NaN,NaN,Kansas
1199,Sports betting in Kansas went live in Septembe...,NaN,NaN,NaN,NaN,Kansas
1202,2022-09-01 00:00:00,"$160,527,371","$1,296,184",0.8%,"$129,618",Kansas
1203,October 2022,"$189,919,311","$1,438,196",0.8%,"$141,088",Kansas
1204,2022-11-01 00:00:00,"$186,353,708","$8,002,730",4.3%,"$795,784",Kansas
1205,Total,"$536,800,390","$10,737,110",2.0%,"$1,066,490",Kansas

### Dropping all rows, that contain text instead of our desired data

We can see, that in the text columns, all other columns except the state column are empty, so we delete those where this condition applies.

In [17]:
wagering_data4.isna().sum()

date                            0
handle                        101
revenue                       101
hold                          103
taxes/jurisdiction_revenue    103
state                           0
dtype: int64

In [18]:
display(wagering_data4[wagering_data4.handle.isna() & wagering_data4.revenue.isna()].head(50))
display(wagering_data4[wagering_data4.handle.isna() & wagering_data4.revenue.isna()].tail(50))

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
29,New Jersey sports betting,NaN,NaN,NaN,NaN,New Jersey
31,NJ sports betting is the biggest outside Nevad...,NaN,NaN,NaN,NaN,New Jersey
90,NJ revenue here.,NaN,NaN,NaN,NaN,New Jersey
92,Pennsylvania sports betting,NaN,NaN,NaN,NaN,Pennsylvania
94,PA sports betting is poised to become one of t...,NaN,NaN,NaN,NaN,Pennsylvania
96,The only hiccup is the high cost of doing busi...,NaN,NaN,NaN,NaN,Pennsylvania
150,PA revenue here.,NaN,NaN,NaN,NaN,Pennsylvania
152,Delaware sports betting,NaN,NaN,NaN,NaN,Delaware
154,Delaware sports betting was the first to go li...,NaN,NaN,NaN,NaN,Delaware
156,Delaware’s monthly reporting schedule ends on ...,NaN,NaN,NaN,NaN,Delaware
158,There was no sports betting data reported for ...,NaN,NaN,NaN,NaN,Delaware
214,Delaware revenue here.,NaN,NaN,NaN,NaN,Delaware
216,Mississippi sports betting,NaN,NaN,NaN,NaN,Mississippi
218,Mississippi sports betting went live in 2018 a...,NaN,NaN,NaN,NaN,Mississippi
220,There was no sports betting activity in April ...,NaN,NaN,NaN,NaN,Mississippi
243,2020-04-01 00:00:00,NaN,NaN,NaN,NaN,Mississippi
276,Mississippi revenue here.,NaN,NaN,NaN,NaN,Mississippi
278,Nevada sports betting,NaN,NaN,NaN,NaN,Nevada
280,Nevada has had legal wagering for decades. Bil...,NaN,NaN,NaN,NaN,Nevada
282,Here’s a look at Nevada sports betting handle ...,NaN,NaN,NaN,NaN,Nevada
284,Nevada has one of the lowest tax rates in the ...,NaN,NaN,NaN,NaN,Nevada
286,Note: Results for April and May 2020 are combi...,NaN,NaN,NaN,NaN,Nevada
343,Nevada revenue here.,NaN,NaN,NaN,NaN,Nevada
345,Rhode Island sports betting,NaN,NaN,NaN,NaN,Rhode Island
347,"RI sports betting started in late 2018, after ...",NaN,NaN,NaN,NaN,Rhode Island
349,Rhode Island did not launch with online bettin...,NaN,NaN,NaN,NaN,Rhode Island
401,RI revenue here.,NaN,NaN,NaN,NaN,Rhode Island
403,West Virginia sports betting,NaN,NaN,NaN,NaN,West Virginia
405,"WV sports betting went live in 2018, thanks to...",NaN,NaN,NaN,NaN,West Virginia
407,"The state has legalized online betting, too, b...",NaN,NaN,NaN,NaN,West Virginia
409,Sportsbook apps returned in August 2020.,NaN,NaN,NaN,NaN,West Virginia
411,West Virginia reports results on a weekly basi...,NaN,NaN,NaN,NaN,West Virginia
467,WV revenue here.,NaN,NaN,NaN,NaN,West Virginia
469,Arkansas sports betting,NaN,NaN,NaN,NaN,Arkansas
471,Arkansas sports betting began in July 2019 at ...,NaN,NaN,NaN,NaN,Arkansas
473,"Online sports betting went live March 5, 2022 ...",NaN,NaN,NaN,NaN,Arkansas
475,"Casinos closed in March 2020 through May 18, 2...",NaN,NaN,NaN,NaN,Arkansas
519,New York sports betting,NaN,NaN,NaN,NaN,New York
521,New York sports betting began in July 2019 at ...,NaN,NaN,NaN,NaN,New York
523,New York casinos were closed in March 2020 unt...,NaN,NaN,NaN,NaN,New York
564,NY revenue here.,NaN,NaN,NaN,NaN,New York
566,Iowa sports betting,NaN,NaN,NaN,NaN,Iowa
568,Iowa sports betting began in August 2019 acros...,NaN,NaN,NaN,NaN,Iowa
613,Iowa revenue here.,NaN,NaN,NaN,NaN,Iowa
615,Indiana sports betting,NaN,NaN,NaN,NaN,Indiana
617,Indiana sports betting began in September 2019...,NaN,NaN,NaN,NaN,Indiana
661,Indiana revenue here.,NaN,NaN,NaN,NaN,Indiana
663,Oregon sports betting,NaN,NaN,NaN,NaN,Oregon
665,Oregon sports betting began with the tribes in...,NaN,NaN,NaN,NaN,Oregon
707,Oregon revenue here.,NaN,NaN,NaN,NaN,Oregon

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
711,New Hampshire sports betting launched in late ...,NaN,NaN,NaN,NaN,New Hampshire
713,DraftKings Sportsbook can also open retail loc...,NaN,NaN,NaN,NaN,New Hampshire
753,New Hampshire revenue here.,NaN,NaN,NaN,NaN,New Hampshire
755,Michigan sports betting,NaN,NaN,NaN,NaN,Michigan
757,Michigan sports betting launched retail bettin...,NaN,NaN,NaN,NaN,Michigan
759,Casinos did not reopen until Aug. 5 at 15% max...,NaN,NaN,NaN,NaN,Michigan
761,Michigan launched online sports betting Jan. 2...,NaN,NaN,NaN,NaN,Michigan
799,Michigan revenue here.,NaN,NaN,NaN,NaN,Michigan
801,Montana sports betting,NaN,NaN,NaN,NaN,Montana
803,Montana sports betting launched with retail an...,NaN,NaN,NaN,NaN,Montana
805,The Montana Lottery does not break down the pr...,NaN,NaN,NaN,NaN,Montana
842,Montana revenue here.,NaN,NaN,NaN,NaN,Montana
844,Colorado sports betting,NaN,NaN,NaN,NaN,Colorado
846,"Colorado sports betting launched May 1, 2020 i...",NaN,NaN,NaN,NaN,Colorado
848,"Net sports betting proceeds, which is revenue ...",NaN,NaN,NaN,NaN,Colorado
883,Colorado revenue here.,NaN,NaN,NaN,NaN,Colorado
885,Washington DC sports betting,NaN,NaN,NaN,NaN,Washington DC
887,Washington DC sports betting launched May 28 t...,NaN,NaN,NaN,NaN,Washington DC
889,The Office of Lottery and Gaming reports data ...,NaN,NaN,NaN,NaN,Washington DC
891,"The first commercial operator, William Hill, l...",NaN,NaN,NaN,NaN,Washington DC
956,Washington DC revenue here.,NaN,NaN,NaN,NaN,Washington DC
958,Illinois sports betting,NaN,NaN,NaN,NaN,Illinois
960,Illinois sports betting launched March 9 but w...,NaN,NaN,NaN,NaN,Illinois
997,Illinois revenue here.,NaN,NaN,NaN,NaN,Illinois
999,Tennessee sports betting,NaN,NaN,NaN,NaN,Tennessee
1001,"Tennessee sports betting launched Nov. 1, 2020...",NaN,NaN,NaN,NaN,Tennessee
1031,Tennessee revenue here.,NaN,NaN,NaN,NaN,Tennessee
1033,Virginia sports betting,NaN,NaN,NaN,NaN,Virginia
1035,Virginia sports betting launched online-only s...,NaN,NaN,NaN,NaN,Virginia
1062,Virginia revenue here.,NaN,NaN,NaN,NaN,Virginia
1064,Wyoming sports betting,NaN,NaN,NaN,NaN,Wyoming
1066,Online-only Wyoming sports betting started Sep...,NaN,NaN,NaN,NaN,Wyoming
1085,Wyoming revenue here.,NaN,NaN,NaN,NaN,Wyoming
1087,South Dakota sports betting,NaN,NaN,NaN,NaN,South Dakota
1089,Sports betting in South Dakota launched Sept. ...,NaN,NaN,NaN,NaN,South Dakota
1108,South Dakota revenue here.,NaN,NaN,NaN,NaN,South Dakota
1110,Connecticut sports betting,NaN,NaN,NaN,NaN,Connecticut
1112,Online sports betting in Connecticut launched ...,NaN,NaN,NaN,NaN,Connecticut
1130,Connecticut revenue here.,NaN,NaN,NaN,NaN,Connecticut
1132,Louisiana sports betting,NaN,NaN,NaN,NaN,Louisiana
1134,Legal sports betting at commercial casinos beg...,NaN,NaN,NaN,NaN,Louisiana
1152,Louisiana revenue here.,NaN,NaN,NaN,NaN,Louisiana
1154,Arizona sports betting,NaN,NaN,NaN,NaN,Arizona
1156,Legal sports betting launched Sept. 9 with bot...,NaN,NaN,NaN,NaN,Arizona
1174,Arizona revenue here.,NaN,NaN,NaN,NaN,Arizona
1176,Maryland sports betting,NaN,NaN,NaN,NaN,Maryland
1178,Legal sports betting in Maryland launched Dec ...,NaN,NaN,NaN,NaN,Maryland
1195,Maryland revenue here.,NaN,NaN,NaN,NaN,Maryland
1197,Kansas sports betting,NaN,NaN,NaN,NaN,Kansas
1199,Sports betting in Kansas went live in Septembe...,NaN,NaN,NaN,NaN,Kansas

We can see here that all rows where handle and revenue are empty are the text rows, so we go on to delete them.

In [19]:
wagering_data5 = wagering_data4[~ (wagering_data4.handle.isna() & wagering_data4.revenue.isna())]

In [20]:
wagering_data5.shape

(926, 6)

In [21]:
wagering_data5.isna().sum()

date                          0
handle                        0
revenue                       0
hold                          2
taxes/jurisdiction_revenue    2
state                         0
dtype: int64

In [22]:
wagering_data5.head(10)

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
34,June 2018,"$16,409,619","$3,458,668",21.1%,"$337,077",New Jersey
35,July 2018,"$40,682,237","$3,845,880",9.5%,"$377,015",New Jersey
36,2018-08-01 00:00:00,"$95,634,048","$9,198,272",9.6%,"$1,038,073",New Jersey
37,2018-09-01 00:00:00,"$183,948,404","$23,775,366",12.9%,"$2,883,517",New Jersey
38,October 2018,"$260,711,301","$11,686,119",4.5%,"$1,536,282",New Jersey
39,2018-11-01 00:00:00,"$330,748,563","$21,243,865",6.4%,"$2,730,521",New Jersey
40,December 2018,"$319,173,548","$20,814,222",6.5%,"$2,695,290",New Jersey
41,January 2019,"$385,279,662","$18,777,582",4.9%,"$2,532,619",New Jersey
42,February 2019,"$320,368,087","$12,732,740",4.0%,"$1,817,553",New Jersey
43,March 2019,"$372,451,342","$31,669,387",8.5%,"$4,180,051",New Jersey

As we can see we now have converted our initial file into a useful format

In [23]:
wagering_formatted = wagering_data5.copy()

# Data cleaning

### Cleaning and converting the date column

In [24]:
wagering_formatted['date'].value_counts()

Total                   28
2022-09-01 00:00:00     28
2022-08-01 00:00:00     27
July 2022               27
June 2022               27
May 2022                27
2022-04-01 00:00:00     27
March 2022              27
February 2022           27
January 2022            27
December 2021           27
October 2022            26
2021-11-01 00:00:00     26
October 2021            25
2021-09-01 00:00:00     24
2021-08-01 00:00:00     21
July 2021               21
June 2021               21
May 2021                21
2021-04-01 00:00:00     21
March 2021              21
February 2021           21
January 2021            21
December 2020           20
2020-11-01 00:00:00     20
October 2020            19
2020-09-01 00:00:00     19
July 2020               18
2020-08-01 00:00:00     18
June 2020               16
March 2020              16
May 2020                15
February 2020           13
January 2020            13
December 2019           13
2020-04-01 00:00:00     12
2019-11-01 00:00:00     12
October 2019            12
2022-11-01 00:00:00     12
2019-09-01 00:00:00     11
2019-08-01 00:00:00     10
July 2019                9
May 2019                 7
2019-04-01 00:00:00      7
March 2019               7
February 2019            7
January 2019             7
December 2018            7
2018-11-01 00:00:00      7
June 2019                7
October 2018             5
2018-09-01 00:00:00      5
2018-08-01 00:00:00      4
June 2018                3
July 2018                3
April-May 2020           1
Month                    1
GambetDC                 1
Commercial Operators     1
Name: date, dtype: int64

As we can see we have still some rows left which are not dates, but summaries of the other data. We will also drop the according rows.

In [25]:
display(wagering_formatted[wagering_formatted['date'] == 'Total'].head(5))

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
88,Total,"$32,672,114,792","$2,283,153,922",7.0%,"$288,665,486",New Jersey
148,Total,"$18,137,307,269","$1,415,801,172",7.8%,"$346,690,811",Pennsylvania
212,Total,"$534,230,610","$80,745,049",15.1%,"$53,577,288",Delaware
274,Total,"$1,860,162,392","$213,668,015",11.5%,"$25,640,162",Mississippi
341,Total,"$27,723,080,786","$1,585,277,000",5.72%,"$107,006,198",Nevada

Apparently the Total is a summary for the state throughout the time, we don't need that, so we drop the rows.

In [26]:
wagering_formatted = wagering_formatted[~ (wagering_formatted['date'] == 'Total')]
wagering_formatted['date'].value_counts()

2022-09-01 00:00:00     28
2022-08-01 00:00:00     27
July 2022               27
June 2022               27
May 2022                27
2022-04-01 00:00:00     27
March 2022              27
February 2022           27
January 2022            27
December 2021           27
October 2022            26
2021-11-01 00:00:00     26
October 2021            25
2021-09-01 00:00:00     24
2021-08-01 00:00:00     21
July 2021               21
June 2021               21
May 2021                21
2021-04-01 00:00:00     21
March 2021              21
February 2021           21
January 2021            21
December 2020           20
2020-11-01 00:00:00     20
2020-09-01 00:00:00     19
October 2020            19
2020-08-01 00:00:00     18
July 2020               18
March 2020              16
June 2020               16
May 2020                15
February 2020           13
January 2020            13
December 2019           13
2020-04-01 00:00:00     12
2022-11-01 00:00:00     12
2019-11-01 00:00:00     12
October 2019            12
2019-09-01 00:00:00     11
2019-08-01 00:00:00     10
July 2019                9
June 2019                7
2019-04-01 00:00:00      7
March 2019               7
February 2019            7
January 2019             7
December 2018            7
2018-11-01 00:00:00      7
May 2019                 7
October 2018             5
2018-09-01 00:00:00      5
2018-08-01 00:00:00      4
June 2018                3
July 2018                3
April-May 2020           1
Month                    1
GambetDC                 1
Commercial Operators     1
Name: date, dtype: int64

In [27]:
# Now we have to check for the values Month, GambetDC, April-May 2020 and Commercial Operators
display(wagering_formatted[wagering_formatted['date'].isin(['April-May 2020','Month', 'GambetDC', 'Commercial Operators'])])

,date,handle,revenue,hold,taxes/jurisdiction_revenue,state
311,April-May 2020,"$56,263,737","$2,669,000",4.74%,"$180,158",Nevada
619,Month,Handle,Revenue,Hold,Taxes,Indiana
893,GambetDC,Handle,Revenue,Hold,State revenue,Washington DC
925,Commercial Operators,Handle,Revenue,Hold,Taxes,Washington DC

We can see that the last three are meaningless text columns, so we can drop them.

Apparently for 2020 the Nevada revenues for April-May have been summarized, we will split it into three rows and divide the values by two to harmonize it with the rest of the data.

In [28]:
# Dropping the rows
wagering_formatted = wagering_formatted[~ wagering_formatted['date'].isin(['Month', 'GambetDC', 'Commercial Operators'])]

In [29]:
# Creating new rows for April and May 2020
# We insert the values as strings so that we don't run into errors later when converting
# all the other values in the same column to integers.
wagering_formatted = wagering_formatted.append({'date': 'April 2020', 
                                                'handle':'28131868',
                                                'revenue':'1334500',
                                                'hold':'4.74',
                                                'taxes/jurisdiction_revenue':'9079',
                                                'state':'Nevada'
                                               },ignore_index=True)
wagering_formatted = wagering_formatted.append({'date': 'May 2020', 
                                                'handle':'28131868',
                                                'revenue':'1334500',
                                                'hold':'4.74',
                                                'taxes/jurisdiction_revenue':'9079',
                                                'state':'Nevada'
                                               },ignore_index=True)

C:\Users\Giancarlo\AppData\Local\Temp\ipykernel_25432\3721185217.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  wagering_formatted = wagering_formatted.append({'date': 'April 2020',
C:\Users\Giancarlo\AppData\Local\Temp\ipykernel_25432\3721185217.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  wagering_formatted = wagering_formatted.append({'date': 'May 2020',

In [30]:
# Now we can delete the initial summary row
wagering_formatted = wagering_formatted[~ wagering_formatted['date'].isin(['April-May 2020'])]

In [31]:
# Check the values now
wagering_formatted['date'].value_counts()

2022-09-01 00:00:00    28
2022-08-01 00:00:00    27
July 2022              27
June 2022              27
May 2022               27
2022-04-01 00:00:00    27
March 2022             27
February 2022          27
January 2022           27
December 2021          27
October 2022           26
2021-11-01 00:00:00    26
October 2021           25
2021-09-01 00:00:00    24
2021-08-01 00:00:00    21
July 2021              21
June 2021              21
May 2021               21
2021-04-01 00:00:00    21
March 2021             21
February 2021          21
January 2021           21
December 2020          20
2020-11-01 00:00:00    20
October 2020           19
2020-09-01 00:00:00    19
July 2020              18
2020-08-01 00:00:00    18
June 2020              16
May 2020               16
March 2020             16
February 2020          13
January 2020           13
December 2019          13
2020-04-01 00:00:00    12
2019-11-01 00:00:00    12
October 2019           12
2022-11-01 00:00:00    12
2019-09-01 00:00:00    11
2019-08-01 00:00:00    10
July 2019               9
May 2019                7
2019-04-01 00:00:00     7
March 2019              7
February 2019           7
January 2019            7
December 2018           7
2018-11-01 00:00:00     7
June 2019               7
October 2018            5
2018-09-01 00:00:00     5
2018-08-01 00:00:00     4
June 2018               3
July 2018               3
April 2020              1
Name: date, dtype: int64

Now we can convert the whole column to datetime format and harmonize the format.

In [32]:
wagering_formatted['date'] = pd.to_datetime(wagering_formatted['date'])

For us only month and year are relevant so we just use those.

In [33]:
wagering_formatted['month'] = wagering_formatted['date'].dt.strftime('%m')

In [34]:
wagering_formatted['year'] = wagering_formatted['date'].dt.strftime('%Y')

In [35]:
wagering_formatted = wagering_formatted.drop(['date'], axis= 1)

In [36]:
wagering_formatted.head(5)

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
0,"$16,409,619","$3,458,668",21.1%,"$337,077",New Jersey,06,2018
1,"$40,682,237","$3,845,880",9.5%,"$377,015",New Jersey,07,2018
2,"$95,634,048","$9,198,272",9.6%,"$1,038,073",New Jersey,08,2018
3,"$183,948,404","$23,775,366",12.9%,"$2,883,517",New Jersey,09,2018
4,"$260,711,301","$11,686,119",4.5%,"$1,536,282",New Jersey,10,2018

### Cleaning the handle and revenue columns

In both columns we have dollar values with a $ sign and comma seperators as strings.
There are aso negative values for revenue (in this case possible, more in the descriptive analytics),
either with a - or in parenthesis.
There are alsos ome whitespaces to be ereased.
We use a small cleaning function and apply it to clean both.

In [37]:
def moneyclean(x):
    x = str(x)
    x = x.replace('$','')
    x = x.replace(',','')
    x = x.replace('(','-')
    x = x.replace(')','')
    x = x.replace(' ','')
    if x.replace('-','').isdigit():
        return int(x)
    # We see that we couldn't convert all valuesm so we try to identify the problem
    else:
        print(x)
    return x

In [38]:
wagering_formatted.handle.unique

<bound method Series.unique of 0       $16,409,619
1       $40,682,237
2       $95,634,048
3      $183,948,404
4      $260,711,301
           ...
892    $160,527,371
893    $189,919,311
894    $186,353,708
895        28131868
896        28131868
Name: handle, Length: 896, dtype: object>

In [39]:
wagering_formatted['handle'] = wagering_formatted['handle'].apply(moneyclean)

–
–
–
–
–
–
–

In [40]:
wagering_formatted['revenue'] = wagering_formatted['revenue'].apply(moneyclean)

–
–
–
–
–
–
–

In [41]:
wagering_formatted['taxes/jurisdiction_revenue'] = wagering_formatted['taxes/jurisdiction_revenue'].apply(moneyclean)

nan
nan
–
—
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
–
31393.43
1022841.29

In [42]:
# We replace the two values that weren't catched by our function manually.
wagering_formatted['taxes/jurisdiction_revenue'][wagering_formatted['taxes/jurisdiction_revenue'] == '31393.43'] = 31393
wagering_formatted['taxes/jurisdiction_revenue'][wagering_formatted['taxes/jurisdiction_revenue'] == '1022841.29'] = 1022841
wagering_formatted[wagering_formatted['taxes/jurisdiction_revenue'] == 1022841]

        handle   revenue  hold taxes/jurisdiction_revenue    state month  year
868  486097352  36326542  7.5%                    1022841  Arizona    10  2021

In [43]:
wagering_formatted

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
0,16409619,3458668,21.1%,337077,New Jersey,06,2018
1,40682237,3845880,9.5%,377015,New Jersey,07,2018
2,95634048,9198272,9.6%,1038073,New Jersey,08,2018
3,183948404,23775366,12.9%,2883517,New Jersey,09,2018
4,260711301,11686119,4.5%,1536282,New Jersey,10,2018
...,...,...,...,...,...,...,...
892,160527371,1296184,0.8%,129618,Kansas,09,2022
893,189919311,1438196,0.8%,141088,Kansas,10,2022
894,186353708,8002730,4.3%,795784,Kansas,11,2022
895,28131868,1334500,4.74,9079,Nevada,04,2020
896,28131868,1334500,4.74,9079,Nevada,05,2020

The missing values are potentially from covid restrictions in the corresponding states.
Technically the values should be 0, but that would very much influence the whole analysis for the year 2020. So I will make an approximation by inserting the mean value from two month before and after the restrictions.
I deliberately don't take the adjacent month for two reasons:
1. The restrictions could potentially have reached into the adjacent month, making their value also not representative.
2. Pent up demand can often be seen in a short Period before and after restrictions, resulting in misleading values.

In [44]:
# To ease our work from now, since we are done with dropping rows, we sort by state and date and reset the index.
wagering_formatted.sort_values(['state', 'year', 'month'], ascending=[True, True, True], inplace = True)
wagering_formatted.reset_index(inplace = True, drop = True)

In [45]:
wagering_formatted

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
0,291212868,31238322,10.7%,31393,Arizona,09,2021
1,486097352,36326542,7.5%,1022841,Arizona,10,2021
2,466725687,51416143,11.0%,3177148,Arizona,11,2021
3,499213733,39822928,8.0%,1723902,Arizona,12,2021
4,563694591,41890200,7.4%,1952971,Arizona,01,2022
...,...,...,...,...,...,...,...
891,7322852,673269,9.2%,38036,Wyoming,06,2022
892,7246352,680740,9.4%,38365,Wyoming,07,2022
893,10990904,1237815,11.3%,85672,Wyoming,08,2022
894,13575173,1932519,14.2%,115500,Wyoming,09,2022
895,17275317,2039620,11.8%,115893,Wyoming,10,2022

In [46]:
# We inspect the rows with the dashes:
wagering_formatted[wagering_formatted['handle']== '–']

    handle revenue hold taxes/jurisdiction_revenue     state month  year
22       –       –    —                          –  Arkansas    04  2020
148      –       –  NaN                          –  Illinois    04  2020
149      –       –  NaN                          –  Illinois    05  2020
287      –       –    —                          –  Michigan    04  2020
288      –       –    —                          –  Michigan    05  2020
289      –       –    —                          –  Michigan    06  2020
290      –       –    —                          –  Michigan    07  2020

In [47]:
wagering_formatted.iloc[20:28]

     handle  revenue    hold taxes/jurisdiction_revenue     state month  year
20  4294366   411589    9.6%                      67494  Arkansas    02  2020
21  1588403   222373   14.0%                      38310  Arkansas    03  2020
22        –        –       —                          –  Arkansas    04  2020
23      509  -115000  -22.6%                        -15  Arkansas    05  2020
24     1189       10    0.8%                          1  Arkansas    06  2020
25   179315   -19633  -10.9%                      -2552  Arkansas    07  2020
26  1008992    69625    6.9%                       9051  Arkansas    08  2020
27  3958748   397095   10.0%                      51622  Arkansas    09  2020

In [48]:
# Our desired values lie in the rows with the indexes 20 and 24 for Arkansas
for i in ['handle','revenue','taxes/jurisdiction_revenue']:
    wagering_formatted.iloc[22][i] = (wagering_formatted.iloc[20][i]+wagering_formatted.iloc[24][i])/2

In [49]:
wagering_formatted.iloc[22]

handle                        2147777.5
revenue                        205799.5
hold                                  —
taxes/jurisdiction_revenue      33747.5
state                          Arkansas
month                                04
year                               2020
Name: 22, dtype: object

In [50]:
# For Illinois we have to replace two month
wagering_formatted.iloc[145:153]

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
145,13545163,2463694,18.2%,1841226,Delaware,10,2022
146,10172819,1530355,15.0,1119178,Delaware,11,2022
147,997739,72028,7.2%,12242,Illinois,03,2020
148,–,–,NaN,–,Illinois,04,2020
149,–,–,NaN,–,Illinois,05,2020
150,8281803,368651,4.5%,59446,Illinois,06,2020
151,52524820,3623985,6.9%,585623,Illinois,07,2020
152,140065649,7233360,5.2%,1176754,Illinois,08,2020

In [51]:
# Our desired values lie in the rows with the indexes 146 and 151 for Illinois
for i in ['handle','revenue','taxes/jurisdiction_revenue']:
    wagering_formatted.iloc[148][i] = (wagering_formatted.iloc[146][i]+wagering_formatted.iloc[151][i])/2
    wagering_formatted.iloc[149][i] = (wagering_formatted.iloc[146][i]+wagering_formatted.iloc[151][i])/2

In [52]:
# For Michigan we do the same for 4 month
wagering_formatted.iloc[284:293]
# Our desired values lie in the rows with the indexes 285 and 292

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
284,39663586,5210947,13.1%,781642,Maryland,10,2022
285,219071374,30620539,14.0%,704728,Maryland,11,2022
286,593956,105548,17.8%,8866,Michigan,03,2020
287,–,–,—,–,Michigan,04,2020
288,–,–,—,–,Michigan,05,2020
289,–,–,—,–,Michigan,06,2020
290,–,–,—,–,Michigan,07,2020
291,15744256,1977052,12.6%,166072,Michigan,08,2020
292,33503929,4376407,13.1%,367618,Michigan,09,2020

In [53]:
for i in ['handle','revenue','taxes/jurisdiction_revenue']:
    wagering_formatted.iloc[287][i] = (wagering_formatted.iloc[285][i]+wagering_formatted.iloc[292][i])/2
    wagering_formatted.iloc[288][i] = (wagering_formatted.iloc[285][i]+wagering_formatted.iloc[292][i])/2
    wagering_formatted.iloc[289][i] = (wagering_formatted.iloc[285][i]+wagering_formatted.iloc[292][i])/2
    wagering_formatted.iloc[290][i] = (wagering_formatted.iloc[285][i]+wagering_formatted.iloc[292][i])/2

In [54]:
wagering_formatted[wagering_formatted['handle']== '–']
# We got rid of the missing values.

Empty DataFrame
Columns: [handle, revenue, hold, taxes/jurisdiction_revenue, state, month, year]
Index: []

There is still data missing for the 'taxes/jurisdiction_revenue' column.
I will have to investigate further to know what is the reason here.

In [55]:
wagering_formatted[wagering_formatted['taxes/jurisdiction_revenue']== '–']['state'].value_counts()

Oregon           37
Montana          32
Washington DC    30
Name: state, dtype: int64

Apparently the values affect just 3 states.

Oregon :
Oregon apparently does not disclose the amount of money withheld from sports betting.
But according to several press articles like
https://www.wweek.com/news/2022/11/30/as-sports-betting-takes-hold-nationally-oregon-lawmakers-ponder-what-comes-next-here/
the amount withheld is 51% of revenue, so we calculate the value according.

In [56]:
def oregon_tax(row):
    if row['state'] == 'Oregon':
        return row['revenue']*0.51
    return row['taxes/jurisdiction_revenue']

In [57]:
wagering_formatted['taxes/jurisdiction_revenue'] = wagering_formatted.apply(oregon_tax, axis = 1)

In [58]:
wagering_formatted

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
0,291212868,31238322,10.7%,31393,Arizona,09,2021
1,486097352,36326542,7.5%,1022841,Arizona,10,2021
2,466725687,51416143,11.0%,3177148,Arizona,11,2021
3,499213733,39822928,8.0%,1723902,Arizona,12,2021
4,563694591,41890200,7.4%,1952971,Arizona,01,2022
...,...,...,...,...,...,...,...
891,7322852,673269,9.2%,38036,Wyoming,06,2022
892,7246352,680740,9.4%,38365,Wyoming,07,2022
893,10990904,1237815,11.3%,85672,Wyoming,08,2022
894,13575173,1932519,14.2%,115500,Wyoming,09,2022
895,17275317,2039620,11.8%,115893,Wyoming,10,2022

In [59]:
wagering_formatted[wagering_formatted['state']== 'Montana']['taxes/jurisdiction_revenue'].value_counts()

–    32
Name: taxes/jurisdiction_revenue, dtype: int64

https://leg.mt.gov/bills/2019/billpdf/SB0330.pdf
All values are missing, we can calculate them, since according to the law above there is a 8.5% tax rate for the sports betting.

In [60]:
def montana_tax(row):
    if row['state'] == 'Montana':
        return row['revenue']*0.085
    return row['taxes/jurisdiction_revenue']

In [61]:
wagering_formatted['taxes/jurisdiction_revenue'] = wagering_formatted.apply(montana_tax, axis = 1)

Finally we have a look at Washington DC

https://news.bloombergtax.com/daily-tax-report/washington-d-c-s-sports-betting-hobbled-by-unique-problems

For Washington DC we find a 10% tax rate on revenue.

In [62]:
def dc_tax(row):
    if row['state'] == 'Washington DC':
        return row['revenue']*0.1
    return row['taxes/jurisdiction_revenue']

In [63]:
wagering_formatted['taxes/jurisdiction_revenue'] = wagering_formatted.apply(dc_tax, axis = 1)

In [64]:
# Seeking the remaining nonb numerical values
# Np.isreal checks if the argument is a real number, we want all rows where this does not apply
wagering_formatted[~wagering_formatted["taxes/jurisdiction_revenue"].apply(np.isreal)]

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
340,1575859,-62231,-3.9%,nan,Mississippi,06,2020
425,78152387,-483000,-0.62%,nan,Nevada,06,2020
550,12872999,-179593,-1.4%,—,New York,02,2020

In [65]:
# As we can see we have negative revenues here, so the tax rate will be 0
for i in [340,425,550]:
    wagering_formatted.iloc[i][["taxes/jurisdiction_revenue"]] = 0

### Cleaning the hold column

Apparently some values have been left as strings, we try to convert everything to numbers.

In [66]:
wagering_formatted.dtypes

handle                        object
revenue                       object
hold                          object
taxes/jurisdiction_revenue    object
state                         object
month                         object
year                          object
dtype: object

In [67]:
def to_int(x):
    return int(x)
def to_float(x):
    return round(float(x),2)

In [68]:
wagering_formatted['handle'] = wagering_formatted['handle'].apply(to_int)

In [69]:
wagering_formatted['revenue'] = wagering_formatted['revenue'].apply(to_int)

In [70]:
wagering_formatted['taxes/jurisdiction_revenue'] = wagering_formatted['taxes/jurisdiction_revenue'].apply(to_int)

In [71]:
wagering_formatted.dtypes

handle                         int64
revenue                        int64
hold                          object
taxes/jurisdiction_revenue     int64
state                         object
month                         object
year                          object
dtype: object

The hold is the ratio of how much of the handle is left as revenue for the company.
The easiest way is just to recalculate the column instead of cleaning it.

In [72]:
wagering_formatted.head(10)

      handle   revenue   hold  taxes/jurisdiction_revenue    state month  year
0  291212868  31238322  10.7%                       31393  Arizona    09  2021
1  486097352  36326542   7.5%                     1022841  Arizona    10  2021
2  466725687  51416143  11.0%                     3177148  Arizona    11  2021
3  499213733  39822928   8.0%                     1723902  Arizona    12  2021
4  563694591  41890200   7.4%                     1952971  Arizona    01  2022
5  491665554  25629835   5.2%                      670686  Arizona    02  2022
6  690979294  37231646   5.4%                     1864457  Arizona    03  2022
7  512877848  29249275   5.7%                     1647450  Arizona    04  2022
8  461450688  55162888  12.0%                     4125125  Arizona    05  2022
9  318774198  15369245   4.8%                      766831  Arizona    06  2022

In [73]:
wagering_formatted['hold'] = wagering_formatted['revenue']/wagering_formatted['handle']

In [74]:
wagering_formatted.head(10)

,handle,revenue,hold,taxes/jurisdiction_revenue,state,month,year
0,291212868,31238322,0.107270,31393,Arizona,09,2021
1,486097352,36326542,0.074731,1022841,Arizona,10,2021
2,466725687,51416143,0.110164,3177148,Arizona,11,2021
3,499213733,39822928,0.079771,1723902,Arizona,12,2021
4,563694591,41890200,0.074314,1952971,Arizona,01,2022
5,491665554,25629835,0.052129,670686,Arizona,02,2022
6,690979294,37231646,0.053882,1864457,Arizona,03,2022
7,512877848,29249275,0.057030,1647450,Arizona,04,2022
8,461450688,55162888,0.119542,4125125,Arizona,05,2022
9,318774198,15369245,0.048214,766831,Arizona,06,2022

In [75]:
wagering_formatted.dtypes

handle                          int64
revenue                         int64
hold                          float64
taxes/jurisdiction_revenue      int64
state                          object
month                          object
year                           object
dtype: object

In [76]:
# For better visibility we round the hold number to two digits.
wagering_formatted['hold'] = wagering_formatted['hold'].apply(to_float)

# Saving

Our main dataframe is now clean. We save it for later use.

In [77]:
# As csv
wagering_formatted.to_csv('Clean Data/wager_clean.csv', index=False)